node_modules
.idea
.DS_Store
dist-ssr
*.local
.vscode
out
.next
yarn-error.log
.env
package-lock.json
yarn.lock
*.tsbuildinfo
.scannerwork
.tsbuildinfo
public/robots.txt
public/sitemap*
public/assets
**/.blinko/*
# 允许提交内置插件
!**/.blinko/plugins/
!**/.blinko/plugins/**
dump.sql
public/sw*
public/plugins/*
public/workbox*.*
seed.js
dist
.turbo
keystore.properties
!**/lute.min.js
# .blinko 其他目录继续忽略
**/.blinko/files/
**/.blinko/pgdump/
**/.blinko/vector/
dev-dist
.claudeconfig
.claude/*
.claude/settings.local.json
target
server/public
.bunfig.toml
